* {
  margin: 0%;
  padding: 0%;
}
a {
  text-decoration: none;
}
.fas,
.far {
  pointer-events: unset;
}

@font-face {
  font-family: "SEGA LOGO FONT";
  font-style: normal;
  font-weight: normal;
  src: local("SEGA LOGO FONT"), url("SEGA.woff") format("woff");
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 10px tomato;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: black;
}
.scroll {
  justify-content: center;
  width: 100%;
  border-bottom: inset tomato 2px;
}

.main-header {
  font-family: "SEGA LOGO FONT";
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-header {
  font-family: "SEGA LOGO FONT";
  font-weight: lighter;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: tomato;
}
.main-nav {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: black;
}
.btn {
  display: flex;
  margin: 20px;
  transition: ease;
  border: solid 2px;
  padding: 10px;
  border-radius: 8px;
  background-color: black;
}
.btn :hover {
  filter: brightness(1.7);
  margin: 0;
  cursor: pointer;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(54, 49, 49);
  height: 600px;
}
.input {
  background-color: rgb(74, 71, 71);
  font-size: 2rem;
  width: 100%;
  color: yellow;
}
.input:hover {
  outline: unset;
  cursor: pointer;
}
.add {
  margin: 0%;
}
.add:hover {
  background-color: rgba(255, 99, 71, 0.796);
}
.add-box {
  display: flex;
  justify-self: center;
  justify-content: center;
  list-style: none;
  width: 600px;
  margin-top: 10px;
  height: fit-content;
  border: solid 5px;
  border-radius: 15px;
  background-color: grey;
}
.items-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
}
.items-list {
  display: flex;
  list-style: none;
  flex-direction: column;
}
.card-item {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  width: 500px;
  padding: 10px;
  text-align: start;

  background-color: black;
  margin-top: 10px;
}
.completed {
  border-color: tomato;
}
.item-name {
  background-color: black;
}
.item-btn-box {
  display: flex;
}
.item-btn {
  display: flex;
  background-color: black;
  border: none;
  padding: 5px;
  transition: ease;
}
.item-btn:hover {
  filter: brightness(1.6);
  cursor: pointer;
}
.footer {
  background-color: rgb(54, 49, 49);
  display: flex;
  justify-self: flex-end;
  height: 20px;
}
